{{ define "main" }}
    <section id="about">
      <div class="container">
        <div class="eight columns">
          <div>
            <div class="smaller-headshot">
              <div class="about-headshot">
                  <img src="{{ .Params.headshot }}">
              </div>
              <div class="about-social-icons">
              </div>
            </div>
            {{ .Content }}
          </div>
        </div>
        <div class="four columns">
          <div class="larger-headshot">
            <div class="about-headshot">
                <img src="{{ .Params.headshot }}">
            </div>
            <div class="about-social-icons">
              <!-- TODO: Add social icons -->
            </div>
          </div>
          {{ partial "about/twitter.html" . }}
        </div>
      </div>
    </section>
{{ end }}

