{{ define "main" }}
    <section class="wrapper style1">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <header class="entry-header">
                        <h2 class="entry-title">{{ .Title }}</h2>
                        <div class="entry-meta">
                            <h3> Posted on {{ .PublishDate.Format "2 January 2006" }}</h3>
                            <h4>
                            {{ if .Params.tags }}
                              {{ $len := len .Params.tags }}
                              {{ $len := sub $len 1 }}
                              {{ range $index, $tag := .Params.tags }}
                                  <a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}">{{ $tag }}</a>{{ if ( ne $index $len ) }} • {{ end }}
                              {{ end }}
                            {{ end }}
                            </h4>
                        </div>
                    </header>
                    <div class="entry-thumbnail">
                        <img src="{{ .Params.thumbnail }}">
                    </div>
                    <div class="entry-content">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="blog-post-recent-posts">
    <div class="container">
        <div class="related-posts-intro">
            <h2>Related Content</h2>
        </div>
        <div class="row related-posts">
          {{ $related := .Site.RegularPages.Related . | first 3 }}
          {{ with $related }}
            <ul>
              {{ range . }}
              {{ partial "blog/card.html" . }}
              {{ end }}
            </ul>
          {{ end }}
        </div>
    </div>
</section>
{{ end }}
