
.icon-blurb {
  text-align: center;
  img {
    margin: 0 auto;
    height: 96px;
    width: 96px;
  }

  h3 {
    font-size: 20px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
    line-height: 1.6em;
  }
}
