.pagination-buttons {
  text-align: center;
  padding-top: 45px;

  a {
    color: $secondary-text-color;
    background-color: $primary-background-color;
    padding: 20px 40px;
    font-size: 1.35em;
  }

}
