#TableOfContents {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #aaa;
  display: table;
  margin-bottom: 1em;
  padding: 20px;
  width: auto;

  ul {
    list-style-type: none;
  }
  & > ul {
    margin-left: 0;
    padding-left: 0;
  }

}
