$primary-text-color: #1b1d1e;
$primary-text-link-color: #f4424b;
$primary-text-link-hover: #f4424b;
$primary-text-link-visited: #f4424b;
$secondary-text-color: #F8F8F2;
$passive-text-color: #656565;

$primary-background-color: #f4424b;
$secondary-background-color: #1b1d1e;

$font-main: 'Fira Sans', sans-serif;
$font-code: monospace;
$font-line-height: 1.5;


/*
 Molokai colors
 */
$color1: #d0d0d0;
$color2: #66AA11;
$color3: #c47f2c;
$color4: #30309b;
$color5: #7e40a5;
$color6: #3579A8;
$color7: #9999AA;
$color8: #303030;
$color9: #ff0090;
$color10: #80FF00;
$color11: #ffba68;
$color12: #5f5fee;
$color13: #bb88dd;
$color14: #4eb4fa;
$color15: #ffffff;

