<div class="row">
    <div class="nine columns">
        <div class="footer row">
            <section class="three columns">
                <h2>General</h2>
                <table>
                    {{ range .Site.Menus.general }}
                    <tr><td><a href="{{ .URL }}">{{ .Name }}</a></td></tr>
                    {{ end }}
                </table>
            </section>
            <section class="four columns">
                <h2>Featured Posts</h2>
                <table>
                    {{ range .Site.Menus.featuredposts }}
                    <tr><td><a href="{{ .URL }}">{{ .Name }}</a></td></tr>
                    {{ end }}
                </table>
            </section>
            <section class="five columns">
                <h2>Featured Wiki Pages</h2>
                <table>
                    {{ range .Site.Menus.featuredwikis }}
                    <tr><td><a href="{{ .URL }}">{{ .Name }}</a></td></tr>
                    {{ end }}
                </table>
            </section>
        </div>
    </div>
</div>
