<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="nine columns">
                <div class="footer row">
                    <section class="three columns">
                        <h2>General</h2>
                        <table>
                            {{ range $.Site.Data.general }}
                            <tr><td><a href="{{ .href }}">{{ .name }}</a></td></tr>
                            {{ end }}
                        </table>
                    </section>
                    <section class="four columns">
                        <h2>Top Posts</h2>
                        <table>
                            {{ range $.Site.Data.top_posts }}
                            <tr><td><a href="{{ .href }}">{{ .name }}</a></td></tr>
                            {{ end }}
                        </table>
                    </section>
                    <section class="five columns">
                        <h2>Top Tutorials</h2>
                        <table>
                            {{ range $.Site.Data.top_tutorials }}
                            <tr><td><a href="{{ .href }}">{{ .name }}</a></td></tr>
                            {{ end }}
                        </table>
                    </section>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <ul class="social-media-icons">
                    {{ range $.Site.Data.social }}
                    <li>
                        <a href="{{ .href }}">
                            <i class="fa fa-{{ .name }}"></i>
                        </a>
                    </li>
                    {{ end }}
                <ul>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns copyright">
                <p>Copyright 2017 (c) Jordan Knott.</p>
            </div>
        <div>
    </div>
</footer>


