<div id="site-header" role="banner">
    <div class="site-branding-banner">
        <a class="no-underline" href="/index.html" id="logo">
            <img src="/banner.png" />
        </a>
    </div>
    <nav class="navigation-bar">
        <ul>
            {{ $current := (lower .URL) }}
            {{ $current }}
            <li {{ if eq $current "/" }}class="active"{{ end }}><a href="/">Home</a></li>
            <li {{ if eq $current "/blog/" }}class="active"{{ end }}><a href="/blog/">Blog</a></li>
            <li {{ if eq $current "/about/" }}class="active"{{ end }}><a href="/about/">About</a></li>
       </ul>
    </nav>
</div>

