<section class="container front-page-topics">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h1 style="text-align: center;">
          You'll find a wide variety of topics discussed here!
        </h1>
      </div>
    </div>
    <div class="row icon-blurbs">
      <div class="four columns">
        <div class="icon-blurb">
          <img src="/assets/images/icon/linux-icon.png"/>
          <h3>System Administration</h3>
          <p>I'll cover topics such as Linux system monitoring, Docker, and Puppet.</p>
        </div>
      </div>
      <div class="four columns">
        <div class="icon-blurb">
          <img src="/assets/images/icon/terminal-icon.png"/>
          <h3>Development</h3>
          <p>I'll also ideas that can be found across all programming languages to those that
            center around a certain paradigm
            such as object-oriented languages.</p>
        </div>
      </div>
      <div class="four columns">
        <div class="icon-blurb">
          <img src="/assets/images/icon/pencil-icon.png"/>
          <h3>User Experience</h3>
          <p>I'll cover topics such as Linux system monitoring, Docker, and Puppet.</p>
        </div>
      </div>
    </div>
    <div class="row view-more-posts">
      <div class="twelve columns">
        <a href="/about/">
          <button class="large-button">View About Me</button>
        </a>
      </div>
    </div>
  </div>
</section>
