.blog-card-row {
  padding: 35px 0;

  @media (max-width: 550px) {
    &:first-child {
      padding: 0;
    }
  }
}


#blog {
  margin: 5em 0 3em 0;
}

.blog-post-recent-posts {
  background-color: #edeeef;


  h2 {
    padding-top: 25px;
    text-align: center;
    font-size: 2.0em;
    font-weight: normal;
  }

  p {
    text-align: center;
    font-size: 1.5em;
    padding: 1em 0 0 0;
    border-top: solid 1px #000;
    letter-spacing: -.025em;
  }

  .related-posts {
    padding-bottom: 45px;
  }
}
